.cardStyle {
  background-color: #efefef;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  width: 380px;
}

.card {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    width: 500px;
}
