.confirmbackground {
    background-image: url("../assets/confirmation_background.png");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;

    background-position: center;
}
.confirm {
    flex: 1;
    flex-direction: row;
    background-color: #efefef;
    justify-content: center;
    align-items: 'center';
    height: 100vh;
}

.title {
    padding-top: 50px;
}
