@import url("https://use.typekit.net/ozp1nzr.css");
@import url("https://use.typekit.net/ozp1nzr.css");

.group {
    display: table;
    margin: 25px auto;
}

.header {
    font-family: mr-eaves-modern, sans-serif;
    font-weight:700;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30pt;
    color: #94031e;
}

.header-user {
    font-family: mr-eaves-modern, sans-serif;
    font-weight:700;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20pt;
    color: #000000;
}

.header-pin {
    margin-top: 50px;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    font-size: 16pt;
    color: #000000;
    text-align: left;
}

.pin {
    text-align: center;
}

.creategroup-prompt {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    text-align: center;
    letter-spacing: 1.5px;
    padding-top: 20px;
}

a[href*="/creategroupform"]:link,
a[href*="/creategroupform"]:visited,
a[href*="/creategroupform"]:hover,
a[href*="/creategroupform"]:active {
    text-decoration: none;
    color: #94031e;
}

.trip-cards {
    display: grid;
    justify-content: center;
    margin-top: 200px;
}

.column {
  width: 400px;
  height: 200px;
  padding: 0 20px;
}

.row {margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
