@import url("https://use.typekit.net/ozp1nzr.css");
@import url("https://use.typekit.net/ozp1nzr.css");

.group {
    display: table;
    margin: 25px auto;
}

.header {
    font-family: mr-eaves-modern, sans-serif;
    font-weight:700;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 30pt;
    color: #94031e;
}

.header-pin {
    margin-top: 50px;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    font-size: 16pt;
    color: #000000;
    text-align: left;
}

.pin {
    text-align: center;
}

.creategroup-prompt {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    text-align: center;
    letter-spacing: 1.5px;
    padding-top: 20px;
}

a[href*="/creategroupform"]:link,
a[href*="/creategroupform"]:visited,
a[href*="/creategroupform"]:hover,
a[href*="/creategroupform"]:active {
    text-decoration: none;
    color: #94031e;
}
