@import url("https://use.typekit.net/ozp1nzr.css");
@import url("https://use.typekit.net/ozp1nzr.css");

.landing {
  background-image: url("../assets/landing_background.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

/*
Below will be temporary. I plan to use an image that already has the desired
styling for the home logo link.
*/
a[href*="/"]:link,
a[href*="/"]:visited,
a[href*="/"]:hover,
a[href*="/"]:active {
    text-decoration: none;
    color: #ffffff;
}

.registerPrompt {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20pt;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 20px;
}

input[type=button] {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 20px;
    border: none;
    display: inline;
    background: none;
    color: #94031e;
}

.logo {
    font-family: kopius, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36pt;
    letter-spacing: 5px;
    position: fixed;
    padding-top: 25px;
    padding-left: 60px;
    color: #ffffff;
}

.loginForm {
    position: fixed;
    right: 275px;
    top: 250px;
    text-align: center;
}

.title {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28pt;
    text-align: center;
    letter-spacing: 1px;
    color: #94031e;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 30px;
    font-weight: bold;
}

.spacer {
    margin-top: 20px;
}

.registerPopup {
    margin-top: 60px;
    margin-bottom: 40px;
}
